.footer{
  background-image: linear-gradient(-85deg, rgb(3, 3, 68), rgb(30, 6, 90));
  margin-top: 13em;

 .footer_inner{
  width: 70%;
  margin: auto;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
    .social_link{
      background-image: linear-gradient(-85deg, rgb(3, 3, 68), rgb(30, 6, 90));
      display: flex;
      justify-content: space-around;
      padding: .5em;
      width: 100%;

      & > * + *{
        margin-left: 1em;
      }
  }
}
}

@media screen and (max-width:50em){
  .footer{
    font-size: .8em;

    .footer_inner{
      width: 100%;
      margin-top: 2em;
    }
  }
}

// @media screen and (min-width:40em){
//   .footer{
    

//     .footer_inner{
      
//       margin-top: 20em;
//     }
//   }
// }