.my_project{
  width: 90%;
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 1.4;

  .my_project__space{
    margin-top: 2em;
  }
  .my_project__card{
    background-image: linear-gradient(-85deg, rgb(0, 0, 119), rgb(19, 0, 66));
    display: flex;
    align-items: center;
    box-shadow: .2em .2em .5em  rgba(21, 2, 194, 0.5);
    width: 80%;

    margin: 2em auto;
   

   
    .my_project__detail{
      flex: 1;
      padding: 1em;
      
      a{
        text-decoration: none;
        color: white;
      }

      .my_project__detail__title{
        display: flex;
        margin-bottom: .5em;

        h2{
          font-size: 1.2em;
          border-left: .1em solid tomato;
          padding: .4em;
         
          flex: 3;
        }

        button{
          outline: none;
          flex: 2;
          width: 4em;
          height: 3em;
          align-self: center;
          border: 0;
          background-color: tomato;
          border-radius: .2em;
          color: white;
          text-shadow: .2em .2em .5em rgba(0,0,0,.5);
          font-size: .9em;
        }
      }

        h4{
          margin: 1em 0;
          color: tomato;
          
        }
    
    }
    .my_project__image{
      flex: 1;
      display: flex;
     
      
       img{
         width: 11em;
         height: 20em;
         object-fit: cover;
         
       }
    }
    
  }
 

}

@media screen and (max-width:30em){
  .my_project{
    width: 100%;
    margin-top: 4em;

  

    .my_project__card{
      width: 90%;
      margin: 1.5em auto;
      display: block;

      .my_project__image{
        img{
          width: 10.2em !important;
        }
      }
    
    }
  }
}