.toogle_button_open{
  width: 2em;
  height: 1.3em;
  background-color: transparent;
  margin: 1em;
  outline: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
  // margin-top: 10em;
  // position: fixed;
  // top: -3em;
  // right: 1em;
  // z-index: 1000;


  
  .line{
    width: 1.5em;
    height: .1em;
    background-color: white;
  }
  .longer_line{
    width: 2em;
   
  }


}

@media screen and (max-width:50em){
  .toogle_button_open{
    display: block;
  }
}

