@import './variable';
@import './project';
@import './home';
@import './navigation';
@import './Footer';
@import './menuItem';
@import './sideDrawerBackDrop';
@import './mobileMenuu';
@import './toogleButton';
@import './closeButton';
@import './resume';
@import './contact';


:root{
  box-sizing : border-box; 
}
*{
  margin : 0;
  padding : 0;
  box-sizing : inherit;
}

body{
  font-family: Helvetica, sans-serif;
 background-image: linear-gradient(-85deg, rgb(3, 3, 68), rgb(30, 6, 90));
  font-size: 1rem;
  line-height: 1.6em;
  letter-spacing: .04em;
  word-spacing: .2em;
  color: rgb(216, 216, 216);
  transition: all 1s ease-in;


  i{
    color: rgb(216, 216, 216);
  }

  .title{
    border-bottom: .2em solid tomato;
    width: 4em;
    margin: auto;
  }

  .loading{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-85deg, rgb(0, 0, 119), rgb(19, 0, 66));
    

    .lds-ripple {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ripple div {
      position: absolute;
      border: 4px solid #fff;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
      animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
      0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
      }
      100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
      }
    }
    

    h2{
      
    }
  }
  
}



@media screen and (max-width:50em){
  .body{

    font-size: .2rem;
    

  }
}